* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Times New Roman', Times, serif;
}


:root {
    --main-color: #000;
	--secondary-color: #0ff;
}


  