* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Times New Roman', Times, serif;
}

ul {
	list-style: none;
}

:root {
    --blue-primary: #4e73df;
	--blue-secundary: #4469d7;
	--secondary-color: #0ff;
	--back-light: #f8f9fc;
}


  