{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block root %}
<div class="login-main row p-5 card">
    <div class="wrap-form mt-5 col-sm-4 p-5 mx-auto">
        <h5 class="card-title text-center mb-4 fs-1">LogIn</h5>

        <form class="login-form" action="/auth/login?next=entry" method="POST">{% csrf_token %}
            
            <div class="mb-4">
                <label class="sr-only mb-2 ml-0" for="username_inp">Username</label>
                <input 
                    class="form-control"
                    id="username_inp"
                    type="text"
                    name="username_inp"
                    placeholder="username"
                    >
            </div>
            <div class="mb-4">
                <label for="pass_inp" class="mb-2 ml-0 sr-only">Password</label>
                <input 
                    id="pass_inp"
                    class="form-control"
                    type="password"
                    name="pass_inp"
                    placeholder="password"
                    >
            </div>

            <div class="mt-5 container">
                <div class="row">
                    <div class="col">
                        <button 
                            id="sub-btn "
                            class="btn-lg btn-primary btn-block text-uppercase fw-bold"
                            type="submit"
                        >Login</button>   
                    </div>
                    <div class="col">
                        <a href="/register">
                            <button 
                                id="sub-btn "
                                class="btn-lg btn-primary btn-block text-uppercase fw-bold"
                                type="button"
                            >Register</button>  
                        </a> 
                    </div>
                </div>                             
            </div>
        </form>
    </div>
</div>
{% endblock %}