{% extends "base.html" %}
{% load static %}

{% block title %} Register {% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block root %}
<div class="login-main row p-5 card">
    <div class="wrap-form mt-5 col-sm-4 p-5 mx-auto">
        <h5 class="card-title text-center mb-4 fs-1">Sing-in</h5>

        <form class="login-form" action="/auth/register" method="POST">{% csrf_token %}            
            <div class="mb-4">
                <label class="sr-only mb-2 ml-0" for="email_inp">E-mail</label>
                <input 
                    class="form-control"
                    id="email_inp"
                    type="text"
                    name="email_inp"
                    placeholder="your.email@domain.com"
                    >
            </div>
            <div class="mb-4">
                <label class="sr-only mb-2 ml-0" for="username_inp">Username</label>
                <input 
                    class="form-control"
                    id="username_inp"
                    type="text"
                    name="username_inp"
                    placeholder="username"
                    >
            </div>
            <div class="mb-4">
                <label for="pass_inp" class="mb-2 ml-0 sr-only">Password</label>
                <input 
                    id="pass_inp"
                    class="form-control"
                    type="password"
                    name="pass_inp"
                    placeholder="password"
                    >
            </div>

            <div class="mt-4 text-center card">
                <button 
                    id="sub-btn "
                    class="btn-lg btn-primary btn-block text-uppercase fw-bold"
                    type="submit"
                >Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}